CIFAR-10_to_CIFAR-100/baseline/baseline_history.npy
CIFAR-10_to_CIFAR-100/baseline/*.h5
CIFAR-10_to_CIFAR-100/baseline/logs_baseline/
CIFAR-10_to_CIFAR-100/cam_k25/cam_k25_history.npy
CIFAR-10_to_CIFAR-100/cam_k25/*.h5
CIFAR-10_to_CIFAR-100/cam_k25/logs_cam_k25/
CIFAR-10_to_CIFAR-100/cam_k5/cam_k5_history.npy
CIFAR-10_to_CIFAR-100/cam_k5/*.h5
CIFAR-10_to_CIFAR-100/cam_k5/logs_cam_k5/
CIFAR-10_to_CIFAR-100/cam_k50/cam_k50_history.npy
CIFAR-10_to_CIFAR-100/cam_k50/*.h5
CIFAR-10_to_CIFAR-100/cam_k50/logs_cam_k50/
CIFAR-10_to_CIFAR-100/*.h5
CIFAR-10_to_CIFAR-100/tl_model/logs_tl_model/
CIFAR-10_to_CIFAR-100/tl_model/tl_model_history.npy
CIFAR-10_to_CIFAR-100/tl_model/*
CIFAR-10_to_CIFAR-100/tl_model_conv/logs_tl_model/
CIFAR-10_to_CIFAR-100/tl_model_conv/tl_model_history.npy
CIFAR-10_to_CIFAR-100/tl_model_conv/*.h5
ImageNet_StanfordDogs/baseline/baseline_history.npy
ImageNet_StanfordDogs/baseline/*.h5
ImageNet_StanfordDogs/baseline/logs_baseline/
ImageNet_StanfordDogs/cam_k5/cam_k5_history.npy 
ImageNet_StanfordDogs/cam_k5/*.h5
ImageNet_StanfordDogs/cam_k5/logs_cam_k5/
ImageNet_StanfordDogs/concat_cam_k5/concat_cam_k5_history.npy
ImageNet_StanfordDogs/concat_cam_k5/*.h5
ImageNet_StanfordDogs/concat_cam_k5/logs_concat_cam_k5/
ImageNet_StanfordDogs/resnet_tl/logs_resnet_tl/
ImageNet_StanfordDogs/resnet_tl/resnet_tl_history.npy
ImageNet_StanfordDogs/resnet_tl/*.h5
